@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-montserrat font-semibold ring-green-500 focus:outline-none focus:ring;
}

@layer components {
  .input {
    @apply h-8 w-72 rounded-lg bg-zinc-500/40 px-4;
  }

  .gradient {
    @apply bg-gradient-to-r from-lime-500 to-emerald-500;
  }

  .btn {
    @apply gradient flex h-8 w-72 items-center justify-center gap-1 rounded-lg font-extrabold text-black transition-opacity hover:opacity-75 active:opacity-100;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #000;

  @apply text-white;
}

html {
  height: -webkit-fill-available;
}

#__next,
#portal {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#portal {
  z-index: 21;
}
